<!-- This is a very hacky setup. This will be cleaned up in the future to remove repetitive *ngIf's -->
<div class="access-container">
  <app-login *ngIf='!noAccount'></app-login>
  <app-sign-up *ngIf='noAccount'></app-sign-up>
  <div class='make-account' *ngIf='!noAccount'>
    <p>Don't have an account yet?</p>
    <button class='sign-up' (click)='signUp()'>Sign Up</button>
  </div>
  <div class='has-account' *ngIf='noAccount'>
    <p>Already have an account</p>
    <button class='sign-up' (click)='login()'>Sign Up</button>
  </div>
</div>
